/data/*
/www/*
*.log
!.gitignore
!.gitkeep

/bin/config/apache_vhosts/*.conf
!/bin/config/apache_vhosts/*.template

/bin/config/apache_ports/*.conf
!/bin/config/apache_ports/*.template

/bin/config/msmtp/*
!/bin/config/msmtp/*.template

/bin/config/nginx_vhosts/*.conf
!/bin/config/nginx_vhosts/*.template

docker-compose.yml